@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'buttons';
@import 'typography';
@import 'default';

[data-aos] {
  opacity: 0;
  filter: blur(200px);
  transition: opacity 0.8s ease, filter 0.8s ease;
}

[data-aos].aos-animate {
  opacity: 1;
  filter: blur(0);
}